@font-face {
  font-family: "NTR";
  src: url("/public/fonts/NTR-Regular.ttf") format("truetype");
}

.App, html {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
}

nav img {
  width: 40px;
}

nav a {
  display: inline-block;
  text-decoration: none;
  padding: 0px 20px;
  font-family: 'NTR', serif;
  font-size: 22px;
  font-weight: bold;
  color: #72695A;
}

nav a:first-child {
  margin-right: auto;
  width: 40px;
}

nav a:hover {
  color: #beb097;
  transition: 2s;
}

.home {
  margin-top: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 14px;
  opacity: 50%;
}

.searchEngine {
  padding-bottom: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  font-size: 15px;
}

.card img {
  padding: 5px;
  margin: 15px;
}

.villagerName {
  font-size: 22px;
}

.favBtn {
  border-radius: 20px;
}

.carousel.slide {
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.carousel-inner {
  height: 300px;
  border-radius: 24px;
}

.carousel img {
  width: 100%;
  opacity: 0.5;
}